
@media screen and (max-device-width: 751px), screen and (max-width: 751px) {


}
/*- MEDIA QUERY  layouts smaller than 750px and mobiles 
----------------------------------------------------------------------*/

@media screen and (max-device-width: 750px), screen and (max-width: 750px) {


 
	/* Styles */
		body {
		font-size:100%;
		padding: 0px;
		margin: 0px;
		min-width: 480px;
		font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
		line-height: 1.5;
		background-color: #183635;
	}

	#wrap {
		background-color: #1f4544;
		overflow: hidden;
	}

	#nav {
	display:none;
	}
	#mnav{
		width:90%;
		padding-top: 10px;
		float:right;
		margin-right:5%;
		margin-left:5%;
		padding-bottom: 15px;
		display:none;
	}
	#mnav li {
		width:98%;
		padding-left:2%;
		background-color:;
		background-repeat: no-repeat;
		background-position:center right;
		list-style:none;
	    border-bottom:1px solid #112524;
		
	}
	
	#mnav h2{
	   color: #fff;
	   padding-top: 5px;
	   padding-bottom: 5px;
	   font-weight:normal;
	   font-size: 18px;
	}
	
	#mnav li:hover{
		background-color: #326767;
	}
	
	#mnav h2:hover{
	color: #fff;
	}

	#activate{
	display:block;
	width: 50px;
	height: 42px;
	float:right;
	}
	
	

	#header {
		width:100%;
		float:left;
		height:42px;
		background-color:#FFF;
	}
	#headercenter {
		width:95%;
		height:42px;
		margin-right: auto;
		margin-left: auto;
	}
	
	#logo {
		height:42px;
		float:left;
		width:120px;
		background-image: url(../images/logo.png);
	}

	#banner {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(15,0,8,0.78) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(15,0,8,0.78))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(15,0,8,0.78) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(15,0,8,0.78) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(15,0,8,0.78) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(15,0,8,0.78) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#c70f0008',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	#bannercenter {
		width: 90%;
		height: 480px;
		padding-top: 10px;
		padding-right: 0px;
		padding-left: 0px;
		overflow: auto;
		background-position:center top;
		background-image: url(../images/mtest.png);	
	}
	#contentcenter {
		width:90%;
	    padding: 20px 5px 20px 5px;

	}
	.article {
		width:45%;
		float:left;
		overflow: hidden;
		padding-bottom: 20px;
	}
	
	.article p {
		font-size: 16px;
	}
	
	.spacer {
		display:none;
	}
	.split {
		float:left;
	    width:5%;
	    height:10px;
		display:block;

    }
	#footercenter {
		width:90%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 0px;
		padding-left: 0px;
		padding-top: 37px;


	}
	#socialmedia {
		width:100%;
		float:left;
		overflow: hidden;
		padding-bottom: 20px;
	}
	
	#socialmedia p {
		font-family: 'Noto Sans', sans-serif;
		color:#D6D6D6;
		font-size: 14pt;
		font-weight: 300;
		line-height: normal;
		text-align: left;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		padding-top: 6px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	#socialimages {
	display:none;
	}
	#sociallink {
		padding-top: 30px;
		width: 100%;
		float:left;
		display:block;
	}
	#sociallink li  {
		width:98%;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left:2%;
		background-color:#1C383F;
		margin-bottom:10px;
		list-style:none;
	}
	#sociallink li:hover {
	opacity: 0.9;
	padding-top: 15px;
	padding-bottom: 13px;
	border-bottom-width: 2px;
	border-bottom-color: #e6e6e6;
	border-bottom-style: solid;
	

	}
	#copyright {
		width:100%;
		float:left;
		padding-top: 60px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
		color:#D6D6D6;
		list-style-type: none;
		font-size: 13pt;
	}
	#notes {
		width:100%;
		float: left;
	}
	#notes p {
		font-family: 'Noto Sans', sans-serif;
		color:#D6D6D6;
		font-size: 14pt;
		font-weight: 300;
		line-height: normal;
		text-align: left;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		padding-top: 6px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	#bnav {
	display:none;
	}
	#copyright {
		padding-top: 20px;

	}

	
	/* -----------portfolio page -------*/
.post  {
	width:47%;
}
.post:hover {
	background-color: #C5FADB;
}
.post img {
	width: 100%;
}  
.post span{
text-indent:10px;
}
   	/* -----------Contact page -------*/
.panel {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	float:left;
}
.panel h1{
	font-size: 14pt;
}   
   
#contactForm{
	width: 100%;
}
.a{
display:none;
}
.b{
display:block;
}
.style li{
	width: 100%;
	float: left;
	overflow: hidden;
	font-size: 18px;
	line-height: 20px;
	padding-bottom: 5px;
}
.style input{
	font-size: 22px;
	height: 40px;
	width: 99%;
	background-color: #f3f4f4;
	border: 1% solid #e7e7e7;
		margin-bottom: 10px;
}

.style textarea{
	height: 200px;
	width:98%;
	max-width: 98%;
	background-color: #f3f4f4;
	border: 1% solid #e7e7e7;
}
   .style textarea:focus, input:focus{
	background-color: #fff;
}
.appCover{
	float: right;
	width: 100%;
}
.details{
	float: right;
	width: 100%;
}

}


/*- MEDIA QUERY  layouts smaller than 480px and mobiles 
----------------------------------------------------------------------*/

@media screen and (max-device-width: 480px), screen and (max-width: 480px) {  


		.split {
			display:none;
		}

	/* Styles */
		body {
		font-size:100%;
		padding: 0px;
		margin: 0px;
		min-width: 320px;
		line-height: 1.5;
		background-color: #183635;
		
	}

	#wrap {
		height: 100%;
		width: 100%;
		background-color: #1f4544;
		overflow: hidden;
	}

	#nav {
	display:none;
	}
	#mnav{
		width:90%;
		padding-top: 10px;
		float:right;
		margin-right:5%;
		margin-left:5%;
		padding-bottom: 15px;
		display:none;
	}
	#mnav li {
		width:98%;
		padding-left:2%;
		background-color:;
		background-repeat: no-repeat;
		background-position:center right;
		list-style:none;
	    border-bottom:1px solid #112524;
		
	}
	
	#mnav h2{
	   color: #fff;
	   padding-top: 5px;
	   padding-bottom: 5px;
	   font-weight:normal;
	   font-size: 18px;
	}
	
	#mnav li:hover{
		background-color: #326767;
	}
	
	#mnav h2:hover{
	color: #fff;
	}

	#activate{
	display:block;
	width: 50px;
	height: 42px;
	float:right;
	}
	
	

	#header {
		width:100%;
		float:left;
		height:42px;
		background-color:#FFF;
	}
	#headercenter {
		width:95%;
		height:42px;
		margin-right: auto;
		margin-left: auto;
	}
	
	#logo {
		height:42px;
		float:left;
		width:120px;
		background-image: url(../images/logo.png);
	}

	#banner {
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(15,0,8,0.78) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(15,0,8,0.78))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(15,0,8,0.78) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(15,0,8,0.78) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(15,0,8,0.78) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(15,0,8,0.78) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#c70f0008',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	#bannercenter {
		width: 90%;
		height: 480px;
		padding-top: 10px;
		padding-right: 0px;
		padding-left: 0px;
		overflow: auto;
		background-position:center top;
		background-image: url(../images/mtest.png);	
	}
	#contentcenter {
		width:90%;
		overflow: auto;
	    padding: 20px 0px 20px 0px;

	}
	
	#contentcenter p {
	font: normal 100%/1.5 Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

}

	.article {
		width:100%;
		float:left;
		overflow: hidden;
		padding-bottom: 20px;

	}
	
	.article p {
		font-size: 16px;
	}
	
	.spacer {
		display:none;
	}
	#footercenter {
		width:90%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 0px;
		padding-left: 0px;
		padding-top: 37px;


	}
	#socialmedia {
		width:100%;
		float:left;
		overflow: hidden;
		padding-bottom: 20px;
	}
	
	#socialmedia p {
		font: normal 1.1em 'Noto Sans', Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		color:#D6D6D6;
		font-weight: 300;
		line-height: normal;
		text-align: left;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		padding-top: 6px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	#socialimages {
	display:none;
	}
	#sociallink {
		padding-top: 30px;
		width: 100%;
		float:left;
		display:block;
	}
	#sociallink li  {
		width:98%;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left:2%;
		background-color:#1C383F;
		margin-bottom:10px;
		list-style:none;
	}
	#sociallink li:hover {
	opacity: 0.9;
	padding-top: 15px;
	padding-bottom: 13px;
	border-bottom-width: 2px;
	border-bottom-color: #e6e6e6;
	border-bottom-style: solid;
	

	}
	#copyright {
		width:100%;
		float:left;
		padding-top: 60px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
		color:#D6D6D6;
		list-style-type: none;
		font-size: 13pt;
	}
	#notes {
		width:100%;
		float: left;
	}
	#notes p {
		font: normal 1.1em 'Noto Sans', Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		color:#D6D6D6;
		font-weight: 300;
		line-height: normal;
		text-align: left;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		padding-top: 6px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	#bnav {
	display:none;
	}
	#copyright {
		padding-top: 20px;

	}

	
	/* -----------portfolio page -------*/
.post  {
	width:95%;
	margin-left:auto;
	margin-right:auto;
	float: none;

}
.post:hover {
	background-color: #C5FADB;
}
.post img {
	width: 100%;
}  
   	/* -----------Contact page -------*/
.panel {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	float:left;
}
.panel h1{
	font-size: 14pt;
}   
   
#contactForm{
	width: 100%;
}
.a{
display:none;
}
.b{
display:block;
}
.style li{
	width: 100%;
	float: left;
	overflow: hidden;
	font-size: 18px;
	line-height: 20px;
	padding-bottom: 5px;
}
.style input{
	font-size: 22px;
	height: 40px;
	width: 96%;
	background-color: #f3f4f4;
	border: 1% solid #e7e7e7;
	margin-bottom: 10px;
}
.style textarea{
	height: 200px;
	max-width: 96%;
	background-color: #f3f4f4;
	border: 1% solid #e7e7e7;
}
   
   .style textarea:focus, input:focus{
	background-color: #fff;
}
.appCover{
	float: right;
	width: 100%;
}
.details{
	float: right;
	width: 100%;
}
   
}



